# Игнорировать папки настроек VS Code и сборки
.vscode/
build/

# Игнорировать все файлы с расширением .zip
*.zip

# Игнорировать все файлы с расширением .MD (регистронезависимо или конкретно)
DOCUMANTATION-MTPROTO.MD
LOGGING_IMPROVEMENTS.md